.color-picker-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.color-picker-tabs {
    box-sizing: border-box;
    height: 12.5%;
    font-size: calc(var(--text-size) * 0.6);
    display: flex;
    justify-content: space-around;
    padding-top: 7.5%;
    margin-left: 10px;
    margin-right: 10px;
}

.color-picker-tab {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.color-picker-tab.active {
    text-decoration: underline;
}
